{{#sprites}}
.icon--{{name}} {
  display: inline-block;
  width: {{px.width}};
  height: {{px.height}};
  background: url(icon/{{{escaped_image}}}) no-repeat {{px.offset_x}} {{px.offset_y}};
}
{{/sprites}}
